{
  "Get-AzSapMonitor+[NoContext]+List+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/sapMonitors?api-version=2020-02-07-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/sapMonitors?api-version=2020-02-07-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11997" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\n  \"value\": [\n   {\n    \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/nancyc-hn1/providers/Microsoft.HanaOnAzure/sapMonitors/sapMonitor-j1sm2o-test\",\n    \"location\": \"westus2\",\n    \"name\": \"sapMonitor-j1sm2o-test\",\n    \"tags\": {},\n    \"type\": \"Microsoft.HanaOnAzure/sapMonitors\",\n    \"properties\": {\n     \"provisioningState\": \"Succeeded\",\n     \"managedResourceGroupName\": \"sapmon-rg-48537d0733dfc9\",\n     \"enableCustomerAnalytics\": false,\n     \"sapMonitorCollectorVersion\": \"v2.0-beta\",\n     \"logAnalyticsWorkspaceArmId\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourcegroups/costmanagement-rg-jeiysz/providers/microsoft.operationalinsights/workspaces/monitoringworkspace-wohtnd\",\n     \"monitorSubnet\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/nancyc-hn1/providers/Microsoft.Network/virtualNetworks/vnet-sap/subnets/subnet-admin\"\n    }\n   },\n   {\n    \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/nancyc-hn1/providers/Microsoft.HanaOnAzure/sapMonitors/sapMonitor-vayh7q-test\",\n    \"location\": \"westus2\",\n    \"name\": \"sapMonitor-vayh7q-test\",\n    \"tags\": {},\n    \"type\": \"Microsoft.HanaOnAzure/sapMonitors\",\n    \"prope[...]
