{
  "Get-AzSapMonitorProviderInstance+[NoContext]+List+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/nancyc-hn1/providers/Microsoft.HanaOnAzure/sapMonitors/sapMonitor-j1sm2o-test/providerInstances?api-version=2020-02-07-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/nancyc-hn1/providers/Microsoft.HanaOnAzure/sapMonitors/sapMonitor-j1sm2o-test/providerInstances?api-version=2020-02-07-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11991" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\n  \"value\": [\n   {\n    \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/nancyc-hn1/providers/Microsoft.HanaOnAzure/sapMonitors/sapMonitor-j1sm2o-test/providerInstances/sapInstance-1g3zfq\",\n    \"location\": \"\",\n    \"name\": \"sapInstance-1g3zfq\",\n    \"tags\": null,\n    \"type\": \"Microsoft.HanaOnAzure/sapMonitors/providerInstances\",\n    \"properties\": {\n     \"type\": \"SapHana\",\n     \"properties\": \"{\\\"hanaHostname\\\":\\\"hdb1-0\\\",\\\"hanaDbName\\\":\\\"SYSTEMDB\\\",\\\"hanaDbSqlPort\\\":30015,\\\"hanaDbUsername\\\":\\\"SYSTEM\\\",\\\"hanaDbPasswordKeyVaultUrl\\\":\\\"https://kv-8ryuj7-test.vault.azure.net:443/secrets/hanaPassword/56006e1d6ba64c559f94df7b8ad6c0fc\\\"}\",\n     \"metadata\": \"null\",\n     \"provisioningState\": \"Failed\"\n    }\n   },\n   {\n    \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/nancyc-hn1/providers/Microsoft.HanaOnAzure/sapMonitors/sapMonitor-j1sm2o-test/providerInstances/sapInstance-o4k13m\",\n    \"location\": \"\",\n    \"name\": \"sapInstance-o4k13m\",\n    \"tags\": null,\n    \"type\": \"Microsoft.HanaOnAzure/sapMonitors/providerInstances\",\n    \"properties\": {\n     \"type\": \"SapHana\",\n     \"properties\": \"{\\\"hanaHostname\\\":\\\"hdb1-0\\\[...]
