{
  "Remove-AzSapMonitorProviderInstance+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/nancyc-hn1/providers/Microsoft.HanaOnAzure/sapMonitors/sapMonitor-j1sm2o-test/providerInstances/sapInstance-1g3zfq?api-version=2020-02-07-preview+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/nancyc-hn1/providers/Microsoft.HanaOnAzure/sapMonitors/sapMonitor-j1sm2o-test/providerInstances/sapInstance-1g3zfq?api-version=2020-02-07-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/locations/westus2/operationsStatus/86f9c424-9514-426c-bbbc-3a5a8a5fa26f?api-version=2020-02-07-preview" ],
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14999" ],
        "azure-asyncoperation": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/locations/westus2/operationsStatus/86f9c424-9514-426c-bbbc-3a5a8a5fa26f?api-version=2020-02-07-preview" ]
      },
      "ContentHeaders": {
      },
      "Content": null
    }
  },
  "Remove-AzSapMonitorProviderInstance+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/locations/westus2/operationsStatus/86f9c424-9514-426c-bbbc-3a5a8a5fa26f?api-version=2020-02-07-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/locations/westus2/operationsStatus/86f9c424-9514-426c-bbbc-3a5a8a5fa26f?api-version=2020-02-07-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1", "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/locations/westus2/operationsStatus/86f9c424-9514-426c-bbbc-3a5a8a5fa26f?api-version=2017-11-03-preview" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\n  \"name\": \"86f9c424-9514-426c-bbbc-3a5a8a5fa26f\",\n  \"status\": \"InProgress\",\n  \"startTime\": \"2020-07-03T10:12:32.2088237Z\",\n  \"error\": {\n   \"code\": \"\",\n   \"message\": \"\"\n  }\n }"
    }
  },
  "Remove-AzSapMonitorProviderInstance+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/locations/westus2/operationsStatus/86f9c424-9514-426c-bbbc-3a5a8a5fa26f?api-version=2017-11-03-preview+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/locations/westus[...]
