{
  "Remove-AzSapMonitor+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/nancyc-hn1/providers/Microsoft.HanaOnAzure/sapMonitors/sapMonitor-xuk0b1-test?api-version=2020-02-07-preview+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/nancyc-hn1/providers/Microsoft.HanaOnAzure/sapMonitors/sapMonitor-xuk0b1-test?api-version=2020-02-07-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/locations/westus2/operationsStatus/781b3ab3-0d10-49c3-8432-b0bc3e5c4808?api-version=2020-02-07-preview" ],
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14999" ],
        "azure-asyncoperation": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/locations/westus2/operationsStatus/781b3ab3-0d10-49c3-8432-b0bc3e5c4808?api-version=2020-02-07-preview" ]
      },
      "ContentHeaders": {
      },
      "Content": null
    }
  },
  "Remove-AzSapMonitor+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/locations/westus2/operationsStatus/781b3ab3-0d10-49c3-8432-b0bc3e5c4808?api-version=2020-02-07-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/locations/westus2/operationsStatus/781b3ab3-0d10-49c3-8432-b0bc3e5c4808?api-version=2020-02-07-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1", "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/locations/westus2/operationsStatus/781b3ab3-0d10-49c3-8432-b0bc3e5c4808?api-version=2017-11-03-preview" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11998" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\n  \"name\": \"781b3ab3-0d10-49c3-8432-b0bc3e5c4808\",\n  \"status\": \"InProgress\",\n  \"startTime\": \"2020-07-03T09:53:39.5767559Z\",\n  \"error\": {\n   \"code\": \"\",\n   \"message\": \"\"\n  }\n }"
    }
  },
  "Remove-AzSapMonitor+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/locations/westus2/operationsStatus/781b3ab3-0d10-49c3-8432-b0bc3e5c4808?api-version=2017-11-03-preview+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/locations/westus2/operationsStat[...]
